

/* Container */
.container {
  display: flex;
  justify-content: space-between; /* first & last touch edges */
  flex-wrap: wrap;                /* move to next row */
  margin-bottom: 40px;
}

/* Box styling */
.box {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
  color: black;
}

/* Colors */
.green {
  background: green;
}

.red {
  background: red;
}

.blue {
  background: blue;
}